@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.tooltip {
    position: relative;
    text-decoration: underline;

    &:hover .tooltiptext {
        visibility: visible;
        transform: translateY(0);
      }

    .tooltiptext {
        position: absolute;
        visibility: hidden;
        bottom: 20px;
        left: -100px;
        right: -100px;
        text-indent: 0;
        background-color: rgb(195,146,72);
        color: $white;
        padding: 1em;
        text-align: center;
        border-radius: 6px;
        box-shadow: $box-shadow;
        z-index: 1;
        transform: translateY(-100px);
        transition: transform 100ms ease-in-out;

        img{
            display: block;
            max-width: 100%;
            margin-bottom: 0.5em;
        } 
    }
}
